# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Production build
dist
dist-ssr

# Local environment files (keeps your secrets safe)
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Environment variables (recommended)
.env
.env*.local

# TypeScript cache
*.tsbuildinfo

# Test coverage
coverage